<html>
	<head>
		<title> Commands </title>

		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

		<link title="no title" media="all" charset="utf-8" href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	</head>



	<body>

		<h3 border="1"> {{ title }} </h3>
		{% for comm in commList %}
		<!-- Command ID: '{{ comm[0] }}' -->
			{% if comm[1]['show'] %}

				<div> {{ comm[1]['description'] }}</div> 

				<table border="1" width="100%">
				<tr>
					<td>
						<table width="100%"><tr width="100%"><td width="90%">
							<pre style="white-space: pre-wrap; word-wrap: break-word;" >{{ comm[1]['command'] }}</pre>
							</td><td border="1" align="center">	
							{% if 'response_code' in comm[1] %}

								 <pre style="background-color:#ffffff">{{ comm[1]['response_code'] }}</pre>
							
							{% endif %}
							</td></tr>
						</table>
					</td>
				</tr>

				<tr>
					<td>
					{% if comm[1]['response'] %}
					<pre class="collapse in" style="white-space: pre-wrap; word-wrap: break-word;">{{ comm[1]['response'] }}</pre>
					{% endif %}
					</td>
				</tr>
				</table>

				<br><br>
			{% endif %} {# ['show'] #}
		{% endfor %}

	</body>
</html>